<div class="navbar">
    <a class="logo" href="#">Student Tutor Lab</a>
    <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">About Us</a></li>

        {% if 'user_id' in session %}
            {% if 'user_type' == "admin" %}
            <li><a href="#">Dashboard</a></li>
            {% elif 'user_type' == "ST" %}
            <li><a href="#">Profile</a></li>
            {% else %}
            <li><a href="#">Profile</a></li>
            {% endif %}
            <li><a href="#">Logout</a></li>
        {% else %}
            <li><a href="#">Sign In</a></li>
        {% endif %}  
    </ul>


    
</div>



